:root {
    --clr-yellow-shadow: hsl(39, 89%, 49%);
    --clr-yellow: hsl(40, 84%, 53%);
    --clr-blue-shadow: hsl(230, 89%, 62%);
    --clr-blue: hsl(230, 89%, 65%);
    --clr-red-shadow: hsl(349, 71%, 52%);
    --clr-red: hsl(349, 70%, 56%);
    --clr-purple-shadow: hsl(261, 73%, 60%);
    --clr-purple: hsl(261, 72%, 63%);
    --clr-cyan-shadow: hsl(189, 59%, 53%);
    --clr-cyan: hsl(189, 58%, 57%);
    
    --clr-dark-text: hsl(229, 25%, 31%);
    --clr-blue-text: hsl(229, 64%, 46%);
    --clr-header-outline: 217, 16%, 45%;
    
    --clr-background: radial-gradient(circle at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: var(--clr-background);
    color: white;
    margin: unset;
    height: calc(100vh - 32px);
}

header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 3px solid hsl(var(--clr-header-outline));
    width: 311px;
    height: 96px;
    align-items: center;
    margin: 32px auto;
}

h1 {
    width: min-content;
    font-size: 11px;
    line-height: 9.6px;
    margin-left: 1.5rem;
    text-transform: uppercase;
}

#score {    
    width: 80px;
    height: 72px;
    border-radius: 4px;
    background-color: white;
    color: var(--clr-blue-text);
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score>p { 
    width: min-content;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: var(--fw-semi-bold);
}

#score>p>span { 
    font-size: 40px;
    line-height: 40px;
    color: var(--clr-dark-text);
    font-weight: var(--fw-bold);
}

#pentagon {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 227px;
}

button {
    border-radius: 50%;
    width: 96px;
    aspect-ratio: 1/1;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button>div { 
    width: 74px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 5px hsla(var(--clr-header-outline), .25);
}

#gestures>button>div>svg { 
    transform: scale(.65);
}

#rock {    
    position: absolute;
    left: calc(50% + 70px);
    top: calc(50% + 115px);
    transform: translate(-50%, -50%);
}

.rock {
    background-color: var(--clr-red);
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 0 5px var(--clr-red-shadow);
}

.rock-winner {
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 
    0 5px var(--clr-red-shadow), 
    0 0 0 20px rgba(255, 255, 255, 8%), 
    0 0 0 50px rgba(255, 255, 255, 4%), 
    0 0 0 85px rgba(255, 255, 255, 2%);
}

#paper {    
    position: absolute;
    left: calc(50% + 115px);
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
}

.paper {
    background-color: var(--clr-blue);
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 0 5px var(--clr-blue-shadow);
}

.paper-winner {
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 
    0 5px var(--clr-blue-shadow), 
    0 0 0 20px rgba(255, 255, 255, 8%), 
    0 0 0 50px rgba(255, 255, 255, 4%), 
    0 0 0 85px rgba(255, 255, 255, 2%);
}

#scissors {    
    position: absolute;
    left: 50%;
    top: calc(50% - 115px);
    transform: translate(-50%, -50%);
}

.scissors {
    background-color: var(--clr-yellow);
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 0 5px var(--clr-yellow-shadow);
}

.scissors-winner {
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 
    0 5px var(--clr-yellow-shadow), 
    0 0 0 20px rgba(255, 255, 255, 8%), 
    0 0 0 50px rgba(255, 255, 255, 4%), 
    0 0 0 85px rgba(255, 255, 255, 2%);
}

#lizard {    
    position: absolute;
    left: calc(50% - 70px);
    top: calc(50% + 115px);
    transform: translate(-50%, -50%);
}

.lizard {
    background-color: var(--clr-purple);
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 0 5px var(--clr-purple-shadow);
}

.lizard-winner {
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 
    0 5px var(--clr-purple-shadow), 
    0 0 0 20px rgba(255, 255, 255, 8%), 
    0 0 0 50px rgba(255, 255, 255, 4%), 
    0 0 0 85px rgba(255, 255, 255, 2%);
}

#spock {    
    position: absolute;
    left: calc(50% - 115px);
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
}

.spock {
    background-color: var(--clr-cyan);
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 0 5px var(--clr-cyan-shadow);
}

.spock-winner {
    box-shadow: 0 5px hsl(0, 0%, 0%, .25), 
    0 5px var(--clr-cyan-shadow), 
    0 0 0 20px rgba(255, 255, 255, 8%), 
    0 0 0 50px rgba(255, 255, 255, 4%), 
    0 0 0 85px rgba(255, 255, 255, 2%);
}

#mobile-results {
    width: calc(100% - 46px);
    height: 375px;
    flex-direction: column;
    margin: 100px auto 0;
}

#mobile-results>div:first-child {
    height: 182px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player, .house {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 145px;
}

.player>button, .house>button {
    width: 130px;
    cursor: unset;
}

.house>.button-preview {
    width: 110px;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-dark-text);
    border-radius: 50%;
    margin: 10px;
    cursor: unset;
}

.player>button>div, .house>button>div {
    width: 100px;
}

h3 {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 32px;
    margin: unset;
}

.play-again {
    margin: auto;
    flex-direction: column;
    margin-top: 62px;
    align-items: center;
}

.play-again>p {
    margin: unset;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.play-again>button {
    width: 220px;
    height: 48px;
    border-radius: 8px;
    margin-top: 1rem;
}

#mobile-rules {
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#mobile-rules>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 95px 0 65px;
}

h2 {
    color: var(--clr-dark-text);
    margin: unset;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: var(--fw-bold);
    line-height: 32px;
}

.close {
    display: contents;
}

footer {
    display: flex;
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
}

#rules-btn {    
    border-radius: 0.5rem;
    width: 128px;
    height: 40px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: var(--fw-semi-bold);
}

.hide {
    display: none;
}

.show-flex {
    display: flex;
}

@media (min-width: 725px) {
    header{
        width: 700px;
        height: 150px;
    }

    h1{
        font-size: 28px;
        line-height: 22px;
        margin-left: 2rem;
    }

    #score {
        width: 150px;
        height: 114px;
        margin-right: 1.5rem;
    }

    #score>p {
        font-size: 1rem;
    }

    #score>p>span {
        font-size: 64px;
        line-height: 64px;
    }

    #gestures {
        position: absolute;
        top: calc(50% + 100px);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #pentagon {
        width: 345px;
    }

    #gestures>button {
        transform-origin: left;
        transform: scale(1.5) translate(-50%, -50%);
    }

    /* button>div {
        width: 112px;
    }

    button>div>svg {
        transform: unset;
    }
*/
    #rock {    
        left: calc(50% + 100px);
        top: calc(50% + 175px);
    }
    
    #paper {    
        left: calc(50% + 150px);
    }
    
    #scissors {    
        top: calc(50% - 150px);
    }
    
    #lizard {    
        top: calc(50% + 175px);
        left: calc(50% - 100px);
    }
    
    #spock {    
        left: calc(50% - 150px);
    } 

    .player>button, .house>button {
        transform: scale(2.3);
    }
    
    #desktop-rules {
        width: 400px;
        height: 461px;
        border-radius: 8px;
        box-shadow: 0 4px 4px hsl(0, 0%, 0%, .25);
    }
    
    #dekstop-rules>div {
        padding: 32px 32px 16px;
        width: calc(100% - 64px);
        flex-direction: row;
        align-items: unset;
        height: min-content;
    }

    h2 {
        color: var(--clr-dark-text);
        margin: unset;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: var(--fw-bold);
        line-height: 32px;
    }

    footer {
        right: 0;
        left: unset;
    }
}